/* ===================================================================
   https://color.adobe.com/Copy-of-shoshone-waterfall-kimberly-idaho-blurry-2017-1080-color-theme-10172404/
===================================================================
*/

/*==================================== MOBILE styles =================*/ 
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
    font-family: 'Exo 2', sans-serif;
    font-size: 120%;
    background-attachment: fixed;
    background-image: url(img/shoshone-waterfall-kimberly-idaho-blurry-2017-320.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

/* colors */

/*.black{background-color:black; color: white;}
.white{background-color:white; color: black;}
.black {background-color:rgba(0,0,0,0.65); color:white;}
.white {background-color:rgba(255,255,255,0.65); color:black;}
.black a:visited{color:white;}
.white a:visited{color:black;}
.black a:hover{color:blue;}
.white a:hover{color:blue;}
*/

.dark-blue{
  color:#152236; 
  color:rgb(21,24,54);
}
.light-gray{
  color:#899099; 
  color:rgb(137,144,153);
}
.bright-green{
  color:#788e27; 
  color:rgb(120,142,39);
}
.light-blue{
  color:#38475B; 
  color:rgb(56,71,91);
}
.dark-green{
  color:#0F1907; 
  color:rgb(15,25,7);
}
.dark-blue-bg{
  background-color:#152236; 
  background-color:rgba(21,24,54,0.85);
}
.light-gray-bg{
  background-color:#899099; 
  background-color:rgba(137,144,153,0.85);
}
.bright-green-bg{
  background-color:#788e27; 
  background-color:rgba(120,142,39,0.85);
}
.light-blue-bg{
  background-color:#38475B; 
  background-color:rgba(56,71,91,0.85);
}
.dark-green-bg{
  background-color:#0F1907; 
  background-color:rgba(15,25,7,0.85);
}


/* anchors */
main a {color:#3F4A16; text-decoration:none;}
main a:link {color:#3F4A16;}
main a:hover {color:#3F4A16; background-color:rgba(56,71,91,0.4);}
main a:active {color:#3F4A16;}
main a:visited {color:#3F4A16;}

main .dark-green-bg a {color:#38475B; text-decoration:none;}
main .dark-green-bg a:link {color:#38475B;}
main .dark-green-bg a:hover {color:#38475B; background-color:rgba(137,144,153,0.95)}
main .dark-green-bg a:active {color:#38475B;}
main .dark-green-bg a:visited {color:#38475B;}

main .light-blue-bg a {color:#152236; text-decoration:none;}
main .light-blue-bg a:link {color:#152236;}
main .light-blue-bg a:hover {color:#152236; background-color:rgba(63,74,22,0.95)}
main .light-blue-bg a:active {color:#152236;}
main .light-blue-bg a:visited {color:#152236;}

footer a {color:#3F4A16; text-decoration:none;}
footer a:link {color:#3F4A16;}
footer a:hover {color:#3F4A16; background-color:rgba(56,71,91,0.4);}
footer a:active {color:#3F4A16;}
footer a:visited {color:#3F4A16;}

#education a, #work a, #service a{
  font-weight:bold;
}

a img {border:0 solid transparent;}

/* navigation */
nav {text-align:center;}
nav ul {padding:0;}
nav li {list-style-type:none;}
nav a {
    display:block;
    font-size:150%;
    margin:2%;
    padding:2%; 
    text-decoration:none;
}
nav i[onclick] {cursor:pointer;}

nav#articles a i:hover {
  -webkit-transform: scale(2) translateY(-15px);
  -moz-transform: scale(2) translateY(-15px);
  -o-transform: scale(2) translateY(-15px);
  -ms-transform: scale(2) translateY(-15px);
  transform: scale(2) translateY(-15px);
}

#articles a{
  margin-right: 10px;
}

#articles a:hover{
  padding:15px !important;
  -webkit-transition: padding 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -moz-transition: padding 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -o-transition: padding 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: padding 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  color:#899099; 
  background-color:rgba(56,71,91,1);
}

/* Social */

#share a{
  display:inline;
  background-color:transparent;
}
#share a:hover{
  color:#3F4A16; 
  background-color:rgba(56,71,91,0.65);
}
#share a:hover .socicon-tripadvisor{
  color:#4b7e37;
}
.socicon-twitter{
  color:#4da7de;
}
.socicon-facebook{
  color:#3e5b98;
}
.socicon-myspace{
  color:#323232;
}
.socicon-pinterest{
  color:#c92619;
}
.socicon-linkedin{
  color:#3371b7;
}
.socicon-tripadvisor{
  color:transparent;
  margin-right:-10%;
}

/* page layout blocks */
main {}
header {text-align:center; margin:0; padding:0;}
article {margin:5% 2%; padding:3%;}
aside {padding:3%;}
footer {margin:5% 2%; padding:3%;}
header a{text-decoration:none;}
header a img{border: 0;}
header a:hover{background-color: transparent;}
header p{font-size: 100%;}
#firstname {height:50px; width:auto;}
#lastname {height:50px; width:auto;}
#symbol {height:89px; width:auto;}
#combo {display:none;}
.drop-shadow {
   filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3,Color='#f9e9e9')";
   filter: url(#drop-shadow);
   -webkit-filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.6));
   filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.6));
}

/* form */
form {margin:3%; padding:3%;}
form p{margin-bottom: 5%;}
fieldset {
  position:relative;
  margin-top:6%;
  margin-bottom:10%;
}
legend {
  position:absolute;
  left:0px;
  top:-30px;
  white-space:nowrap;
}
label {
  display:block;
  margin-top:2%;
}
label input[type="checkbox"]{
  display:inline!important; 
}

input {
  font-family:'Exo 2', Arial, Sans-Serif;
  padding:2%;
  margin:1%;
}
textarea {
  font-family:'Exo 2', Arial, Sans-Serif;
  height:100px;
  padding:2%;
  margin-top:1%;
  width:95%;
  font-size: 20px;
}
input:focus, textarea:focus {
    background-color:lightgray; 
    outline:white;
    border:2px solid white;
}
select {font-family:'Exo 2', Arial, Sans-Serif;}
input:required, textarea:required, select:required {
    border:2px solid green;
}
option {font-family:'Exo 2', Arial, Sans-Serif;}

.confirmation {
  background-color:white;
  border:2px solid green;
  color:green;
  font-size:120%;
  font-weight:bold;
  max-width:300px;
  padding:3%;
  
  position:absolute;
  top:10%;
  left:20%
}
.tryagain {
  background-color:white;
  border:2px solid red;
  color:red;
  font-size:120%;
  font-weight:bold;
  max-width:300px;
  padding:3%;
  
  position:absolute;
  top:10%;
  left:20%
}

/* media */
figure {width:100%; margin:0; padding:0;}
figcaption {
  font-size:80%;
  text-align:center;
  display:block;
}
img {width:100%; margin:0; padding:0;}
video, audio, iframe, object, embed {
   width:100%;  
   height:320px; 
}
.vid {padding:15px;}

/* typography */
p {}
ol, ul, dl {}
li {}
dt {}
dd {}
address {
  font-style:normal;
}
h1, h2, h3, h4, h5, h6 {
   font-family: 'Coda', cursive;
   font-weight:normal;
   margin:0px;
}
h1 {font-size:200%}
h2 {font-size:180%}
h3 {font-size:160%}
h4 {font-size:150%}
h5 {font-size:140%}
h6 {font-size:130%}

ul, ol {overflow:hidden;}
nav ul {overflow:initial;}

/* table */
table {
  width:100%;
  border-collapse:collapse;
}
caption {}
thead {}
tbody {}
tfoot {display:none;}
tr {border-bottom:2px solid white;}
th {padding:1%; border-bottom:2px solid white;}
th[role="columnheader"] {cursor:pointer;}
th[role="columnheader"]:after {
  content:" ⇅";
}
td {padding:1%; color:white;}
td[colspan] {background-color:gray;}
#skills th:nth-child(1) {text-align:right; width:25%;}
#skills th[role="columnheader"]:nth-child(3),
#skills th[role="columnheader"]:nth-child(4) {
  cursor:text;
}

#skills th[role="columnheader"]:nth-child(3):after,
#skills th[role="columnheader"]:nth-child(4):after {
  content:"";
}

td[colspan]:hover {
  animation: expand 1s 1;
}
@keyframes expand { 
  0% {
    transition: 1s linear all;
    transform: scaleX(.5);
    transform-origin: left;
      }
      100% {
        transform: scaleX(1);
        transform-origin: left;
      }
    }

/* embellishments */
.radius {
  -webkit-border-radius: 0 15px;/*Safari, Chrome*/
  -moz-border-radius: 0 15px;/*Firefox*/
  border-radius: 0 15px;
}
.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.boxshadow {
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,.50);
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,.50);
}
.tshadow {
  text-shadow: 2px 2px 3px #999999;
} 
.gradient {
  background: -moz-linear-gradient(10deg, #899099 0, #38475B 100%);/* FF3.6+ */
  background: -webkit-gradient(linear, 10deg, color-stop(0, 899099), color-stop(100%, 38475B));/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(10deg, #899099 0, #38475B 100%);/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(10deg, #899099 0, #38475B 100%);/* Opera 11.10+ */
  background: -ms-linear-gradient(10deg, #899099 0, #38475B 100%);/* IE10+ */
  background: linear-gradient(10deg, #899099 0, #38475B 100%);/* W3C */
}
.shape {
  -webkit-clip-path: polygon(94% 4%, 100% 33%, 91% 54%, 100% 85%, 75% 100%, 39% 89%, 9% 97%, 0 53%, 8% 25%, 2% 9%, 28% 0);
  clip-path: polygon(94% 4%, 100% 33%, 91% 54%, 100% 85%, 75% 100%, 39% 89%, 9% 97%, 0 53%, 8% 25%, 2% 9%, 28% 0);
}

.move{
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

/* Structured Microdata */

.summary {
  display:block;
}
.hresume {
  
}
.u-logo{
  
}
.vcalendar{
  
}
.education.vevent{
  
}
.url.fn.org{
  
}
.duration{
  display:block;
}
.jobtitle{
  display:inline;
}
.summary{
  display:block;
}
.vcard{
  
}
.p-name.u-url{
  display:inline-block;
}
.p-tel{
  display:inline-block;
  text-decoration:none;
}
.p-street-address{
  display:block;
}
.p-locality{
  display:inline;
}
.p-region{
  display:inline;
}
.p-postal-code{
  display:inline;
}
.p-country-name{
  display:inline;
}

/* Icon */
.material-icons {font-feature-settings: 'liga';} /* Support for IE. */

.material-icons.md-18 {font-size: 18px;}
.material-icons.md-24 {font-size: 24px;}
.material-icons.md-36 {font-size: 36px;}
.material-icons.md-48 {font-size: 48px;}
.material-icons.md-64 {font-size: 64px;}

.material-icons {
}

.masonry {
  line-height: 1;   /* 0 Prevents vertical gaps */
  -webkit-column-count:1;
  -webkit-column-gap:25px;
  -moz-column-count:1;
  -moz-column-gap:25px;
  -ms-column-count:1;
  -ms-column-gap:25px;
  column-count:1;
  column-gap:25px;
}
.masonry figure {  
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
    margin-bottom:20px;
}
.masonry img {
  width:100%;
  height: auto;
}
.masonry figcaption {
  display:block;
  font-size:90%;
  margin-bottom:5%;
}

/* Media */

/*Tablet*/
@media all and (min-width: 600px) {
  body{background-image: url(img/shoshone-waterfall-kimberly-idaho-blurry-2017-640.jpg);}
  #articles li{
    display:inline-block;
  }
  #articles a{
    min-width:auto;
    max-width:300px;
    padding:10px;
  }
  #articles a i{
    display:block;
  } 
  fieldset{margin-bottom:8%;}
  .alignleft   {float:left; margin:3% 4% 8% 0;}
  .aligncenter {text-align:center; margin:0 auto;}
  .alignmiddle {position: absolute; top: 0; left: 0; bottom: 0; right: 0;}
  .alignright  {float:right; margin:0 0 0 2%;}
  .clear       {clear:both;}
  .clearright  {clear:right;}
  .clearleft   {clear:left;}
  .fifty  {width:50%;}
  .thirty {width:30%;}
  footer li {
   display:inline-block;
   margin-right:2%;
  }
  #about {margin-top:-25px;}
  .masonry {
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3;
  }
  #firstname, #lastname {height:60px; width:auto;}
  #symbol {height:138px; width:auto;}
  article {margin:5% 10%; padding:3%;}
  footer {margin:5% 10%; padding:3%;}
  video,  iframe, object, embed {
    height:400px;  
  }
}
/*Desktop*/
@media all and (min-width: 1080px) {
  body{background-image: url(img/shoshone-waterfall-kimberly-idaho-blurry-2017-1080.jpg);}
  .alignleft   {float:left; margin:3% 4% 3% 0;}
  #articles a{
    width:300px;
  }
  legend{top:-30px;}
  .masonry {
     -webkit-column-count:4;
     -moz-column-count:4;
     column-count:4;
  }
/*   #firstname{
    height:100px; 
    width: auto;
    margin:0;
    padding:0;
    position:relative; 
    top:-72px; 
    left:-3px;
  } 
  #lastname {
    height:100px; 
    width: auto;
    margin:0;
    padding:0;
    position:relative; 
    top:9px; 
    left:-400px;
  }
  #symbol {
    height:178px; 
    width:auto;
    margin:0;
    padding:0;
    position:relative; 
    top:0; 
    left:0;
  }*/
  header a {margin-right: -100px;}
  header p {font-size: 125%;}
  .summary{
    display:inline-block;
  }
  #firstname {
    -webkit-transform:  scale(1.3) rotate(720deg)  translateX(45px) translateY(-45px);
    -moz-transform:  scale(1.3) rotate(720deg)  translateX(45px) translateY(-45px);
    -o-transform:  scale(1.3) rotate(720deg)  translateX(45px) translateY(-45px);
    -ms-transform:  scale(1.3) rotate(720deg)  translateX(45px) translateY(-45px);
    transform:  scale(1.3) rotate(720deg)  translateX(45px) translateY(-45px);
  }
  #lastname {
    -webkit-transform:  scale(1.3) rotate(360deg)  translateX(-150px) translateY(10px);
    -moz-transform:  scale(1.3) rotate(360deg)  translateX(-150px) translateY(10px);
    -o-transform:  scale(1.3) rotate(360deg)  translateX(-150px) translateY(10px);
    -ms-transform:  scale(1.3) rotate(360deg)  translateX(-150px) translateY(10px);
    transform:  scale(1.3) rotate(360deg)  translateX(-150px) translateY(10px);
  }
  #symbol {
    -webkit-transform:  scale(1.2) rotate(-1deg)  translateX(1px) translateY(10px);
    -moz-transform:  scale(1.2) rotate(-1deg)  translateX(1px) translateY(10px);
    -o-transform:  scale(1.2) rotate(-1deg)  translateX(1px) translateY(10px);
    -ms-transform:  scale(1.2) rotate(-1deg)  translateX(1px) translateY(10px);
    transform:  scale(1.2) rotate(-1deg)  translateX(1px) translateY(10px);
  }
  header p {
    -webkit-transform:  scale(1) rotate(-360deg)  translateX(-20px) translateY(-5px);
    -moz-transform:  scale(1) rotate(-360deg)  translateX(-20px) translateY(-5px);
    -o-transform:  scale(1) rotate(-360deg)  translateX(-20px) translateY(-5px);
    -ms-transform:  scale(1) rotate(-360deg)  translateX(-20px) translateY(-5px);
    transform:  scale(1) rotate(-360deg)  translateX(-20px) translateY(-5px);
  }
  video,  iframe, object, embed {
    height:500px;  
  }
}
/*Print*/
@media print {
  body {font-size:10pt;}
  aside.fifty figure.thirty {width:30%;}-5
  
  h1 {font-size:200%}
  h2 {font-size:180%}
  h3 {font-size:160%}
  h4 {font-size:150%}
  h5 {font-size:140%}
  h6 {font-size:130%}
  h1, h2, h3, h4, h5, h6 {margin:20pt 0 0 0; padding:0;}
  
  nav {display:none;}
  
  iframe, video, audio {display:none;}
  
  address p {display:inline;}
  
  #contact {display:none}
  .scroll {display:none}
  #about address:after {
    display:block;
    content: "rohrj @ oregonstate.edu";
  }
  #about a[href]:after {   /* Display web address */
    display:block;
    content:  attr(href) "↗  ";-5
  }
  address p i {
    font-size:8pt!important;
  }
  footer ul a[href]{display:none;}
  footer li {display:inline-block;}
  
  tbody, th  {border-bottom:2px solid lightgray;}
  td[colspan] {
    border-bottom:2px solid lightgray;
    border-right:2px solid lightgray;
  }
  .alignright {float:right; width:50%; margin-bottom:0;}
  .alignleft  {float:left;  width:50%; margin-bottom:0;}
  .clear      {clear:both;}
  article, aside, header {margin:0; padding:0; border:0;}
  .boxshadow {box-shadow:none;}
  .white{color:black;}
  .masonry {display:none;}
  .slidebox,.slidebox img{display:none;}
  article#education dl.alignright {float:none;}
  article#education dl.fifty {width:100%;}
  #firstname, #lastname, #symbol {display:none;}
  #combo {
    display:block; /* or inline */
    height:1in;   /* some value of inches, like 1 or 1.5 */
    width:auto;    /* proportional to the height. */
    margin:0 auto; /* centers the image file */
  }
  header p {font-size: 10pt;}
  .drop-shadow {
    filter:....Color='#ffffff')";
    filter: url();
    -webkit-filter:...rgba(255,255,255,1));
    filter: .... flood-color="rgba(255,255,255,1)" />...;
    filter: .... rgba(255,255,255,1));
  }
  iframe, video, audio {display:none;}
  figure.print-message iframe, 
  figure.print-message video, 
  figure.print-message audio, 
  figure.print-message object, 
  figure.print-message embed {display: none;}
  figure.print-message::before {content: "NOTE: Sorry, the following media cannot be printed:";}
}